@charset "UTF-8";

.login {
  margin-top: 50px;
  border: 1px solid #000000;
  width: 600px;
  height: 600px;
  /* background-color: aquamarine; */
}
.loading {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 137px);
  z-index: 1;
}
.login form {
  display: flex;
  flex-direction: column;
}
/* estilização da sala de bate papo */
.display-btp {
  height: 80vh;
}
.text {
  width: 90%;
}

/* chat de conversa */
#chat {
  overflow: auto;
  margin-top: 10px;
  color: white;
  height: 70vh;
  background-color: rgb(35, 83, 83);
}
#userImage {
  height: 30px;
}
#userInfo {
  background-color: rosybrown;
}